/* shared styles */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
/* body{
    margin: 0 auto;
} */
/* General Reset */
html,
    body,
    footer {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 0;
        /* overflow-x: hidden; */
    }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.display-flex {
    display: flex;
}

.navbar,
.banner {
    max-width: 1160px;
    margin: 0 auto;
}

.text-dark {
    color: #111111;
}

.text-orange {
    color: #FEA301;
}

.text-sky-blue {
    color: #01ACFD;
}

.text-white {
    color: #F7F7F7;
}

.text-facility {
    color: #05D4DF;
}

.text-admission {
    color: #5D58EF;
}

/* nav related styles */
.navbar {
    /* display: block; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    list-style-type: none;
    margin: 32px;
}

.nav-link {
    text-decoration: none;
}

.nav-title {
    font-weight: 700;
    font-size: 2rem;
}

.nav-btn {
    padding: 10px 10px;
    width: 197px;
    border: none;
    border-radius: 12px;
    background-color: #FEA301;
    font-weight: 600;
    font-size: 20px;
    gap: 10px;
    cursor: pointer;
    /* justify-content: center;
    align-items: center; */
}

.nav-btn:hover {
    background-color: #111111;
}

.nav-text {
    font-weight: 500;
    font-size: 1.25rem;
}

.mobile-menu {
    display: none;
}

/* banner related styles */
.banner {
    gap: 10px;
    align-items: center;
}
.hero-banner {
    width: 100%;
}
.banner-title {
    font-weight: 700;
    font-size: 3.5rem;
}

.banner-description {
    font-weight: 400;
    font-size: 1.25rem;
}

.banner-btn {
    padding: 10px 10px;
    width: 197px;
    border: none;
    border-radius: 12px;
    background-color: #111111;
    font-weight: 600;
    font-size: 20px;
    gap: 10px;
    cursor: pointer;
}

.banner-btn:hover {
    background-color: #FEA301;
}



/* curriculum related styles */
.curriculum {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;

    background-image: url('../assets/bg.png');
}

.cards {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    gap: 28px;
}

/* background-image: linear-gradient(angle, color-stop1, color-stop2); */

.card-section-1 {
    background-color: #DEF5FF;
    box-shadow: 0 0 28.3 0.94 rgba(0, 0, 0, 0.05);
    background: linear-gradient(#DEF5FF, rgba(255, 255, 255, 0));
    width: 367px;
    /* height: 476px; */
    border-radius: 18.86px;
    padding: 50px;
    cursor: pointer;

}

.card-section-2 {
    background-color: #FFF4DC;
    box-shadow: 0 0 28.3 0.94 rgba(0, 0, 0, 0.05);
    background: linear-gradient(#FFF4DC, rgba(255, 255, 255, 0));
    width: 367px;
    /* height: 476px; */
    border-radius: 18.86px;
    padding: 50px;
    cursor: pointer;
}

.card-section-3 {
    background-color: #F2E8FF;
    box-shadow: 0 0 28.3 0.94 rgba(0, 0, 0, 0.05);
    background: linear-gradient(#F2E8FF, rgba(255, 255, 255, 0));
    width: 367px;
    /* height: 476px; */
    border-radius: 18.86px;
    padding: 50px;
    cursor: pointer;
}

.curriculum-title {
    font-weight: 700;
    font-size: 2.8rem;
}

.card-btn-1 {
    color: #64C8FF;
    border: none;
    background: none;
}

.card-btn-2 {
    color: #F0AA00;
    border: none;
    background: none;
}

.card-btn-3 {
    color: #8700FF;
    border: none;
    background: none;
}

.round {
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 32px;
    gap: 10px;
    cursor: pointer;
}

.round-btn button {
    padding: 20px 20px;
    border: none;
    border-radius: 50%;
    background-color: #FEA301;
    color: #F7F7F7;
    cursor: pointer;
}

/* stories related styles */
.stories-container {
    background: linear-gradient(#FFFFFF, rgba(254, 163, 1, 0.3));
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    /* margin-bottom: 60px; */
}

.story-box-container {
    justify-content: center;
    align-items: center;
}

.story-box {
    justify-content: center;
    align-items: center;
    text-align: left;

}

.box-left {
    width: 540px;
    height: 630px;
    background-color: #FFFFFF;
    margin: 19px;
    border-radius: 16px;
    padding: 5px 5px;
}

.box-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 601px;
    /* height: 622px; */
}

.small-box {
    /* width: 290px;
    height: 301px; */
    background-color: #FFFFFF;
    margin: 10px;
    border-radius: 16px;
    gap: 19px;
    padding: 5px 5px;
}

.date-btn-1 {
    width: 174px;
    height: 47px;
    background-color: #3CD8E8;
    border: none;
    border-radius: 47.93px;
    gap: 19px;
    margin-top: -150%;
    cursor: pointer;
}

.date-btn-2 {
    width: 174px;
    height: 47px;
    background-color: #95B226;
    border: none;
    border-radius: 47.93px;
    gap: 19px;
    margin-top: -150%;
    cursor: pointer;
}

.date-btn-3 {
    width: 174px;
    height: 47px;
    background-color: #5D58F0;
    border: none;
    border-radius: 47.93px;
    gap: 19px;
    margin-top: -100%;
    cursor: pointer;
}

.view-btn {
    padding: 10px 10px;
    width: 197px;
    border: none;
    border-radius: 12px;
    background-color: #111111;
    font-weight: 600;
    font-size: 20px;
    gap: 10px;
    margin-top: 80px;
    margin-bottom: 60px;
    cursor: pointer;
}

.view-btn:hover {
    background-color: #FEA301;
}

/* footer related styles */
.footer-section {
    background-color: #01ACFD;
    height: 200px;
    /* max-width: 1439px; */
    margin: 0 auto;
    /* padding: auto; */
}

.footer-container {
    justify-content: space-around;
    align-items: center;

}

.footer-item footer link{
    text-align: left;
    list-style: none;
    text-decoration: none;

}

.footer-social {
    cursor: pointer;
}

/* marquee tag related styles */
.marq-container {
    text-align: center;
    /* max-width: 1439px; */
    margin: 0 auto;
}

.marq {
    padding-top: 5px;
    /* padding-bottom: 5px; */
}

.admission {
    font-size: 20px;
    font-weight: 700;
    color: white;
    /* padding-bottom: 5px; */
}

/* responsive media query */

@media screen and (max-width: 576px) {

    html,
    body,
    footer {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 0;
        /* overflow-x: hidden; */
    }

    .mobile-menu {
        display: block;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
    .icon{
        height: 10%;
        width: 10%;
        margin-left: 5px;
        float: right;
    }

    .navbar {
        display: none;
    }

    .cards,
    .story-box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .banner {
        height: 100%;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
    }


    .round-btn {
        display: none;
    }

    .box-left {
        display: none;
    }

    .footer-container {
        flex-direction: column;
        justify-content: left;
        text-align: left;
    }

}